@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* Colors */

--gradient: linear-gradient(to right, #ffa399, #ff4d97);

--blue-200: #dddbff;
--blue-850: #1d2c67;
--blue-950: #0c122c;
--grayish-blue: #848794;

--weight-400: 400;
--weight-700: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: url(images/bg-mobile.png) no-repeat center center;
    background-size: cover;


}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header, .storage {
    background-color: var(--blue-850);
    width: 90%;
}

.header {
    padding: 2rem 1.5rem;
    border-radius: 10px 90px 10px 10px;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.icons img {
    background-color: var(--blue-950);
    padding: 1rem;
    border-radius: 10px;
}

.storage {
    color: var(--blue-200);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.used .highlight {
    color: white;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: var(--blue-950);
  border-radius: 20px;
  padding: 2px; /* espaço para a barra interna */
  margin: 1rem 0;
}

.progress {
  display: block;
  width: 70.5%; /* 815 de 1000 GB */
  height: 100%;
  background: var(--gradient);
  border-radius: 20px;
  position: relative; /* necessário para posicionar o dot */
}

.progress-dot {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.bar-labels {
    display: flex;
    justify-content: space-between;
}

.storage-left {
    background-color: white;
    height: 72px;
    width: 178px;
    border-radius: 10px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: -35px;
    right: 5.7rem;
}
